<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'main:home' %}">Book<span style="color: #5b80b2">ify</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Genres
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- context processor -->
                {% for genre in all_genres %}
                    <div>
                        <a class="dropdown-item" href="{% url 'main:genre' genre.genre_name %}">{{ genre.genre_name }}</a>
                    </div>
                {% endfor %}
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:cart' %}" tabindex="-1" aria-disabled="true">MyCart <span class="badge badge-secondary">{{ item_count }}</span></a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:signup' %}" tabindex="-1" aria-disabled="true">Signup</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>

        <form action="{% url 'main:search' %}" class="form-inline my-2 my-lg-0" method="get">

          <input class="form-control mr-sm-2" type="search" name="search_query"  placeholder="By ISBN/Author/Book" aria-label="Search" required>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

      </div>
</nav>