{% extends 'base.html' %}
{% block content %}

<style>
.form-group{
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 200px;
}

.form-control{
    width: 500px;
}

@media (min-width: 320px) {
        .form-control {
          width:200px;
        }
      }


.btn-primary{
    margin-left: 100px;
    margin-right: 200px;
}



</style>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Please Login</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">

        <div class="col-md-4">

            {% if error %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <form action="{% url 'main:login' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" id="username" aria-describedby="usernameHelp" required>
                    <small id="usernameHelp" class="form-text text-muted">Your username must be unique. We'll let you know if someone has taken it already.</small>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <br>
            <hr>
            <div class="text-center">
                Forgot password? <a href="#">Click here</a>
            </div>
        </div>
    </div>

{% endblock %}

